<!DOCTYPE HTML>
<html th:replace="~{base :: layout (~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Foo</title>
</head>
<body class="container">
<section>
    <div class="text-right mb-2">
        <a href="/foo/add" class="btn btn-primary">
            新增
        </a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>姓名</th>
            <th>Bars</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="foo : ${foos}">
            <td th:text="${foo.name}"></td>
            <td>
                <p th:each="bar : ${foo.bars}" th:text="${bar.name}"></p>
            </td>
            <td><a th:href="'/foo/delete/' + ${foo.id}">删除</a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>