<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body class="container">
    <nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">软删除代码示例</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/foo">Foo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bar">Bar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/db">查看数据库</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
